@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Teko', sans-serif;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.material-symbols-outlined {
    text-decoration: none;
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1% 2% 2% 2%;
}

.cards {
    display: flex;
    gap: 15px;
    padding: 15px 0;
    flex-wrap: wrap; 
}

.cards .card {
    text-align: center;
    flex: 0 0 auto;
    width: 200px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 400ms;
    position: relative;
    animation: glow 2s ease-in-out infinite alternate;
}

.cards .lilac-1 {
    background-color: #ff65bd;
}

.cards .lilac-2 {
    background-color: #37276b;
}

.cards .lilac-3 {
    background-color: #c164c1;
}

.cards .lilac-4 {
    background-color: #8a2be2;
}

.cards .lilac-5 {
    background-color: #BA55D3;
}

.cards .card p.tip {
    font-size: 1.2em;
    font-family: 'Teko', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0.2em;
    font-weight: 700;
}

.cards .card p.second-text {
    font-size: 0.8em;
    color: rgb(18 15 54);
    font-family: 'Teko', sans-serif;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.gatoCard {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.sign {
    display: flex;
    justify-content: center;
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #6b1839, transparent);
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.h2 {
    color: white;
    margin: 0;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
}

.p {
    color: white;
    margin: 0;
    font-family: 'Teko', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

.desc {
    text-align: center;
    color: white;
    margin: 0 auto;
    max-width: 600px; 
    font-family: 'Teko', sans-serif;
}

.desc h3 {
    font-family: 'Press Start 2P', cursive; 
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    animation: glitch-animation 2s infinite linear alternate-reverse;
}
.desc h3::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #0080ff; 
    overflow: hidden;
    clip: rect(0, 1000px, 0, 0);
    animation: noise-animation 2s infinite linear alternate-reverse;
}



.spacing span {
    animation: glitch 1s infinite;
}

.spacing span:nth-child(2n) {
    animation-delay: .1s;
}

.spacing span:nth-child(3n) {
    animation-delay: .2s;
}

.spacing span:nth-child(4n) {
    animation-delay: .3s;
}
@keyframes glitch-animation {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes noise-animation {
    0%, 20%, 40%, 60%, 80%, 100% {
        clip: rect(0, 1000px, 0, 0);
    }
    10% {
        clip: rect(20px, 1000px, 30px, 0);
    }
    30% {
        clip: rect(10px, 1000px, 20px, 0);
    }
    50% {
        clip: rect(0, 1000px, 0, 0);
    }
    70% {
        clip: rect(50px, 1000px, 80px, 0);
    }
    90% {
        clip: rect(40px, 1000px, 60px, 0);
    }
}
@keyframes oldVideoGame {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    10%, 30%, 60%, 90% {
        transform: translateY(-5px);
    }
    40%, 70% {
        transform: translateY(5px);
    }
}

.nos {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.nos span {
    display: inline-block;
    animation: oldVideoGame 5s infinite;
}
.nos span:nth-child(1) { animation-delay: 0s; }
.nos span:nth-child(2) { animation-delay: 0.2s; }
.nos span:nth-child(3) { animation-delay: 0.4s; }
.nos span:nth-child(4) { animation-delay: 0.6s; }
.nos span:nth-child(5) { animation-delay: 0.8s; }
.nos span:nth-child(6) { animation-delay: 1s; }
.nos span:nth-child(7) { animation-delay: 1.2s; }
.nos span:nth-child(8) { animation-delay: 1.4s; }
.nos span:nth-child(9) { animation-delay: 1.6s; }
.nos span:nth-child(10) { animation-delay: 1.8s; }
.nos span:nth-child(11) { animation-delay: 2s; }
.nos span:nth-child(12) { animation-delay: 2.2s; }
.nos span:nth-child(13) { animation-delay: 2.4s; }
.nos span:nth-child(14) { animation-delay: 2.6s; }
.nos span:nth-child(15) { animation-delay: 2.8s; }
.nos span:nth-child(16) { animation-delay: 3s; }
.nos span:nth-child(17) { animation-delay: 3.2s; }
.nos span:nth-child(18) { animation-delay: 3.4s; }
.nos span:nth-child(19) { animation-delay: 3.6s; }
.nos span:nth-child(20) { animation-delay: 3.8s; }
.nos span:nth-child(21) { animation-delay: 4s; }
.nos span:nth-child(22) { animation-delay: 4.2s; }
.nos span:nth-child(23) { animation-delay: 4.4s; }
.nos span:nth-child(24) { animation-delay: 4.6s; }
.nos span:nth-child(25) { animation-delay: 4.8s; }
.nos span:nth-child(26) { animation-delay: 5s; }
.nos span:nth-child(27) { animation-delay: 5.2s; }
.nos span:nth-child(28) { animation-delay: 5.4s; }
.nos span:nth-child(29) { animation-delay: 5.6s; }
.nos span:nth-child(30) { animation-delay: 5.8s; }
.nos span:nth-child(31) { animation-delay: 6s; }
.nos span:nth-child(32) { animation-delay: 6.2s; }


.icono {
    text-align: center;
    color: white;
    font-size: 1.25em;
    z-index: 1000;
    margin-left: 23px;
    padding-top: 15px;
    text-decoration: none;
}

.icono:hover {
    text-shadow: 0 0 30px #e140ec, 0 0 50px #e140ec, 0 0 70px #e140ec, 0 0 60px #e140ec, 0 0 80px #F9EADE, 0 0 80px #F9EADE, 0 0 90px #F9EADE;
    color: white;
}

.nav-bar {
    height: 15px;
}

.frasecita {
    text-align: center;
    font-style: italic;
    padding: 10px;
    border-top: 1px solid #d3d3d3;
    color: #6a0dad;
    font-size: 1.1em;
    background-color: #f9f9f9;
    animation: frasecita-glow 1.5s infinite alternate;
}

.frasecita p {
    margin: 0;
}

.frasecita p:nth-child(2) {
    margin-top: 0.313em;
    font-weight: bold;
}

 small {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.555);
    animation: color-change 2s infinite;
}

@keyframes frasecita-glow {
    0% {
        text-shadow: 0 0 5px #6a0dad, 0 0 10px #6a0dad, 0 0 15px #6a0dad, 0 0 20px #6a0dad, 0 0 25px #6a0dad, 0 0 30px #6a0dad, 0 0 35px #6a0dad;
    }
    100% {
        text-shadow: 0 0 10px #ff65bd, 0 0 20px #ff65bd, 0 0 30px #ff65bd, 0 0 40px #ff65bd, 0 0 50px #ff65bd, 0 0 60px #ff65bd, 0 0 70px #ff65bd;
    }
}

@keyframes color-change {
    0% { color: rgba(0, 0, 255, 0.766); }
    50% { color: rgba(255, 217, 0, 0.671); }
    100% { color: rgba(0, 0, 255, 0.599); }
}


@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 10px rgba(255, 230, 255, 0.8), 0 0 20px rgba(255, 101, 189, 0.8), 0 0 30px rgba(255, 36, 131, 0.8);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 230, 255, 0.8), 0 0 30px rgba(255, 101, 189, 0.8), 0 0 40px rgba(255, 36, 131, 0.8);
    }
}

@keyframes blink {
    0%, 22%, 36%, 75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%, 33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%, 97% {
        color: #ff2483;
        text-shadow: none;
    }
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes shine2 {
    0% {
        color: #4b0082;
        text-shadow: none;
    }
    100% {
        color: #d8bfd8;
        text-shadow: 0 0 0.6rem #d8bfd8, 0 0 1.5rem #8a2be2, -0.2rem 0.1rem 1rem #8a2be2, 0.2rem 0.1rem 1rem #8a2be2, 0 -0.5rem 2rem #9400d3, 0 0.5rem 3rem #9400d3;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    0%, 22%, 36%, 75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%, 33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%, 97% {
        color: #ff2483;
        text-shadow: none;
    }
}


@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards .card {
        width: 80%;
        margin-bottom: 15px;
    }

    .sign {
        font-size: 2em;
    }

    .h2, .p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .sign {
        font-size: 1.5em;
    }

    .h2, .p {
        font-size: 0.8em;
    }
}

.mila{
    width: 10%;
    text-align: center;
    animation: frasecita-glow 1.5s infinite alternate;
}

/*GATO*/
.m{
    margin: 3%;
}
.cat {
    margin: 1%;
    position: relative;
    height: 85px; 
    width: calc(85px * 1.13);
}

/* Ears */
.ear {
    position: absolute;
    top: -30%;
    height: 60%;
    width: 25%;
    background: #fff;
}

/* Ear hair */
.ear::before,
.ear::after {
    content: '';
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: #161616;
}

.ear::after {
    transform-origin: 50% 100%;
}

.ear--left {
    left: -7%;
    border-radius: 70% 30% 0 0 / 100% 100% 0 0;
    transform: rotate(-15deg);
}

.ear--left::before,
.ear--left::after {
    right: 10%;
}

.ear--left::after {
    transform: rotate(-45deg);
}

.ear--right {
    right: -7%;
    border-radius: 30% 70% 0 0 / 100% 100% 0 0;
    transform: rotate(15deg);
}

.ear--right::before,
.ear--right::after {
    left: 10%;
}

.ear--right::after {
    transform: rotate(45deg);
}

/* Face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;
 
}

/* Eyes */
.eye {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 31%;
    background: #fff;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: #161616;
    animation: blinkk 4s infinite ease-in;
}

@keyframes blinkk {
    0% { height: 0; }
    90% { height: 0; }
    92.5% { height: 100%; }
    95% { height: 0; }
    97.5% { height: 100%; }
    100% { height: 0; }
}

.eye::before {
    content: '';
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: #fff;
    border-radius: 50%;
}

.eye--left {
    left: 0;
}

.eye--left::before {
    right: -5%;
}

.eye--right {
    right: 0;
}

.eye--right::before {
    left: -5%;
}

/* Pupils */
.eye-pupil {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 20%;
    background: #161616;
    border-radius: 50%;
    animation: look-around 4s infinite;
}

@keyframes look-around {
    0% { transform: translate(0); }
    5% { transform: translate(50%, -25%); }
    10% { transform: translate(50%, -25%); }
    15% { transform: translate(-100%, -25%); }
    20% { transform: translate(-100%, -25%); }
    25% { transform: translate(0, 0); }
    100% { transform: translate(0, 0); }
}

.eye--left .eye-pupil {
    right: 30%;
}

.eye--right .eye-pupil {
    left: 30%;
}

.eye-pupil::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: #fff;
}

/* Muzzle */
.muzzle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 6%;
    width: 10%;
    background: #fff;
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}