body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  background: linear-gradient(76.8deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
  }
  
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .lilac-1 {
    background-color: #D8BFD8; /* Thistle */
  }
  
  .cards .lilac-2 {
    background-color: #E6E6FA; /* Lavender */
  }
  
  .cards .lilac-3 {
    background-color: #DDA0DD; /* Plum */
  }
  
  .cards .lilac-4 {
    background-color: #DA70D6; /* Orchid */
  }
  
  .cards .lilac-5 {
    background-color: #BA55D3; /* Medium Orchid */
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: .7em;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }
  