/*---GENERAL---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden; /* Evita el scroll */
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}


.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
}
/*---COLUMNA DEL MEDIO---*/
.columna:nth-child(1) {
    width: 37%;
    background-image: url(../imgStatic/seccionDeJuego.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);

}

.container .columna .imagen-acceso {
    width: 480px;
}
@media (max-width: 768px) {
    .columna:nth-child(1) {
        width: 100%;
        height: auto;
    }

    .container .columna .imagen-acceso {
        width: 100%; /* Ajustar el tamaño de la imagen en pantallas más pequeñas */
    }
}

/*---ITEM CONTAINER---*/
.columna:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    width: 63%;
}
.fila:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    width: 100%;
}

.container .columna .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #6b1839,   transparent );
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 4em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

.container .columna .sign .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

.container .columna .sign .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}
@media (max-width: 1200px) {
    .columna:nth-child(2) {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 768px) {
    .columna:nth-child(2) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        gap: 5px;
    }
}

@keyframes blink {
    0%, 22%, 36%, 75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%, 33% {
        color: #ff65bd;
        text-shadow: none;
    }
    82%, 97% {
        color: #ff2483;
        text-shadow: none;
    }
}

@keyframes shine {
    0% {
        color: #6b1839;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}

/*---ESTILO DE ENLANCES---*/

.h2 {
    color: white;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
}
@media (max-width: 768px) {
    .h2 {
        font-size: 2rem;
    }
}
@keyframes glow {
    from {
        text-shadow: 0 0 20px #fcfcfc;
    }
    to {
        text-shadow: 0 0 10px #6d2194;
    }
}

/*---OTRAS COLUMNAS---*/
.link-juego , .link-juegoBingo {
    text-decoration: none;
    font-weight: bold;
}

.h2:hover {
    color: black;
}


.item {
    background-image: url(../imgStatic/fondos/fondoVerde.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    position: relative;
}


.hover-image {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.link-juego:hover + .hover-image {
    opacity: 1;
}

/*-------------ESTILO PARA EL ICONO DEL MODAL DE SALIDA------------*/
/* Contenedor de iconos */
/*---ANIMATED TEXT---*/
.frase {
    width: 93%;
    margin-bottom: 350px;
    text-align: center;
}

.animated-text {
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000,
    5px 5px 0 #000, 6px 6px 0 #000, 7px 7px 0 #000, 8px 8px 0 #000;
    animation: text3DEffect 2s ease-in-out infinite;
}

@keyframes text3DEffect {
    0%, 100% {
        text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000,
        5px 5px 0 #000, 6px 6px 0 #000, 7px 7px 0 #000, 8px 8px 0 #000;
        transform: translateZ(0);
    }
    50% {
        text-shadow: 1px 1px 5px #000, 2px 2px 5px #000, 3px 3px 5px #000, 4px 4px 5px #000,
        5px 5px 5px #000, 6px 6px 5px #000, 7px 7px 5px #000, 8px 8px 5px #000;
        transform: translateZ(10px);
    }
}

/*---DROPDOWN MENU---*/
.icon-containerMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.menu-icon {
    cursor: pointer;
    color: white;
    border: 1px solid black;
    background-color: #6d2194;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-size: 24px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
    line-height: 1;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    margin-top:5px ;
    z-index: 1000;
}

.dropdown-menu .menu-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
    color: white;
}

.dropdown-menu .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu .menu-item span {
    margin-right: 5px;
}


p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

@keyframes fast-flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}



/*ESTILO PARA EL MODAL DE SALIDA*/
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top:10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.btn-salir {
    padding-left: 50px;
}

/*------------------MODAL EXIT-----------------------------*/

.modal-content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.8);
    position: relative;
}
.modal-content1 img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.modal-content1 .modal-text {
    flex: 1;
}

.modal-content1 .modal-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}

.btn-salir {
    text-align: center;
    margin-top: 20px;
}

.btn-salir button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);

}

.btn-salir .material-symbols-outlined {
    margin-right: 5px;
}

.btn-salir button:hover {
    background-color: darkred;
}

/*------------------MODAL CONFIGURACION-----------------------------*/

.modal-content2 {
    width: 70%;
    height: 880px;
    max-height: none;
    overflow-y: hidden;
    border-radius: 10px;
    background-image: url(../imgStatic/cartelLuminoso.png);
    margin: 3% auto;
    padding: 20px 130px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
}

@media (max-width: 768px) {
    .modal-content2 {
        width: 90%;
        padding: 20px; 
    }
}

.close2 {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 120px;
    top: 50px;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
}

.modal h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
    text-align: center;
    padding-top: 55px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.modal-content label {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}

.modal-content input {
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid #888;

}

.material-symbols-outlined {
    text-decoration: none;
}

.section {
    margin: 15px 0;
}

.section h3 {
    margin-bottom: 10px;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 2px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    flex: 1;
    font-weight: bold;

}

#blackjack-duracion, #blackjack-as-valor, #cant-numeros {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    border: 1px solid #888;
}

#blackjack-duracion:hover, #blackjack-as-valor:hover, #cant-numeros:hover {
    border: 1px solid #ad108b;
}

select {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #888;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;

}

select:hover {
    border-color: #ad108b;
}

.btn-salir {
    text-align: center;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.534);
    margin: 10px 0;
}

.radio-group {
    display: flex;
    gap: 90px;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 1px solid #888;
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.2);

}

.radio-group input[type="radio"]:checked + label {
    background-color: #B367A9;
    color: white;
}

.radio-group input[type="radio"]:hover + label {
    background-color: #ccc;
}

.save-button, .cancel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: green;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.8);

}

.cancel-button {
    background-color: red;
}

.save-button:hover {
    background-color: darkgreen;
}

.cancel-button:hover {
    background-color: darkred;
}

.mensajeError, .mensaje {
    font-size: 21px;
    margin-top: 10px;
    color: red;
}

.mensaje {
    color: green;
}



.icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-container i {
    margin-right: 10px;
}

.icon-container label {
    display: flex;
    align-items: center;
}

.icon-container input[type="number"] {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #888;
    width: 100%; /* Ajusta el ancho al 100% */
    text-align: center;
}

@media (max-width: 768px) {
    .icon-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .icon-container i {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

#mensajeError{
    font-size: 20px;
    margin-top: 10px;
    color: red;
    font-family: 'Bebas Neue', serif;
}
