body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-position: center;
    min-height: 100vh;

}

nav {
    position: fixed; /* Fijar la posición del nav */
    top: 0; /* Colocarlo en la parte superior */
    left: 0; /* Alinearlo a la izquierda */
    width: 100%; /* Ocupar todo el ancho */
    background-color: black; /* Color de fondo opcional */
    z-index: 1000; /* Ajustar si es necesario */
    padding: 10px; /* Añadir un poco de espacio interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

#numeroCantado {
    font-size: xx-large;
    margin-top: 24px;
}
#numeroCantadoColeccion {
    font-size: large;
    padding-top: 11px;
}
.numeroCantadoContenedor {
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
    background-image: url("../imgStatic/numero.png");
    background-size: cover;
    background-position: center;
}

.numerosEntregadosContenedor{
    margin-bottom: 8px;
    width: 50px;
    height: 50px;
    background-image: url("../imgStatic/numero.png");
    background-size: cover;
    background-position: center;
}


.modal-custom {
    background-color: white;
    max-width: 1100px;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    justify-content: center;
    border: 4px solid #895BB0;
}


.navbar .titulo-bingo {
    font-family: "Rammetto One";
    font-size: 4em;
    font-weight: 400;
    font-style: normal;
    color: white;
    -webkit-text-stroke:4px #895BB0;
}

.btn-link {
    background-color: transparent;
    border: none;
    color: white;

}

.btn-link:hover {
    color: #28a745;
}

.modal-title {
    font-family: "Honk";
    font-size: 3.5em;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.modal-content {
    justify-content: center;
}

.step-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.step {
    margin: 1em;
    flex: 1 1 50%;
    max-width: 400px;
}

.step .carton-img {
    text-align: center;
    width: 150px;
    border-radius: 5px;
    margin-top: 15px;
}

.bolas-img {
    text-align: center;
    width: 400px;
    border-radius: 5px;
    margin-top: 15px;
}

.botones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.botones-img {
    border-radius: 5px;
    width: 150px;
    margin-right: 20px;
    margin-top: 15px;
}

.boton-img-group {
    display: flex;

}

.boton-img-group>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------ESTILOS DE MAIN--------------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1000; /* Asegura que el contenido esté arriba del fondo animado */
}


main table {
    font-size: 2.0rem;
    border-radius: 20px;
    background-color: #B49FCC;
    margin-bottom: 10px;
}
nav{
    z-index: 1000;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding: 5px;
}

main .w3-button {
    padding: 12px;
    font-size: 1.0rem;
    border-radius: 15px;

}

/* Estilo para el modal */
.modal {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    /* Fijar la posición del modal */
    z-index: 1;
    /* Ubicar el modal encima de los demás elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho total */
    height: 100%;
    /* Altura total */
    overflow: auto;
    /* Permitir desplazamiento cuando el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
}

/* Estilo para el contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    /* Ancho del contenido */
    font-size: 1.5rem;
    border-radius:20px;
    background-color: #B49FCC;
    margin-bottom:10px;
    padding: 20px 30px 20px;
    max-width: 400px;
    text-align: center;
    animation-name: zoomIn;
    animation-duration: 0.6s;

}

main .w3-button {
    padding: 12px;
    font-size: 1.0rem;
    border-radius: 15px;


}

main .w3-button .w3-green {
    background-color: #28a745;
}

/* Estilos para td */
td button {
    font-family: 'Rammetto One';
    height: 2em;
    border-radius: 10px;
    width: 2.2em;
    border: 1px solid #ccc;
}


table{
    border-collapse:separate;
}

.numerosEntregados{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.icono{
    color:white;
    font-size:25px;
    z-index: 1000;
    margin-left:15px
}
.icono:hover{
    text-shadow: 0 0 10px #e140ec, 0 0 20px #e140ec, 0 0 30px #e140ec, 0 0 40px #e140ec, 0 0 50px #F9EADE, 0 0 60px #F9EADE, 0 0 70px #F9EADE;
    color:white;
}


#fondoBingo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh; /* Ajusta la altura para cubrir todo el contenido */
    background-image: url("../imgStatic/fondoBingo.png");
    background-size: cover;
    animation: animateBg 50s linear infinite;
    z-index: -10;
}
@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

span{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}
span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0s;
    animation-duration: 1s;
}
span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
span:nth-child(3){
    top: 0;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
span:nth-child(7){
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
span:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
span:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
span:nth-child(9){
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}