/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #291033;
    background-image: url("../imgStatic/blackjack-fondo.png");
    background-size: cover;
    font-family: Arial, sans-serif; /* Cambia la fuente según sea necesario */
}

h3{
    text-align: center;
}
.icono {
    color: black;
    font-size: 25px;
    z-index: 1000;
    margin-left: 15px;
    text-shadow: 0 0 10px #e140ec, 0 0 20px #e140ec, 0 0 30px #e140ec, 0 0 40px #e140ec, 0 0 50px #F9EADE, 0 0 60px #F9EADE, 0 0 70px #F9EADE;
}

.icono:hover {
    text-shadow: 0 0 10px #e140ec, 0 0 20px #e140ec, 0 0 30px #e140ec, 0 0 40px #e140ec, 0 0 50px #F9EADE, 0 0 60px #F9EADE, 0 0 70px #F9EADE;
    color: white;
}


.result {
    font-weight: bold;
}

@keyframes aparecerDesdeArriba {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecerDesdeAbajo {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.carta {
    box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.27);
    border-radius: 8px;
    width: 7em;
}

.nueva-carta-jugador {
    animation: aparecerDesdeAbajo 0.5s ease-out forwards;
}

.nueva-carta-casa {
    animation: aparecerDesdeArriba 0.5s ease-out forwards;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
   
    
}

.container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

    
}
.time{
    display: flex;
}
.cartas-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

/* Definición de la animación de volteo */
@keyframes flip {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

/* Aplicación de la animación al elemento */
.flip-animation {
    animation: flip 0.5s ease;
}

.botones {
    display: flex;
    gap: 40px;
    margin: 3%;
    justify-content: center;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-size: small;
}

.boton-pedir {
    background-image: linear-gradient(to bottom, #d8bfe6, #c5a3d1, #b289bc, #9f70a8, #8c5894);
    padding: 10px;
    border-color: #d8bfe6;
    box-shadow: 10px 10px 11px -4px rgba(0, 0, 0, 0.19);
}

.boton-plantarse {
    background-image: linear-gradient(to bottom, #b28dd6, #a678c7, #9962b8, #8c4ca9, #7f369a);
    border-color: #b28dd6;
    padding: 10px;
    box-shadow: 10px 10px 11px -4px rgba(0, 0, 0, 0.19);
}

.boton-pedir:hover,
.boton-plantarse:hover {
    background-color: #6c4780; 
    transform: translateY(-3px); 
}
.boton-volver-inicio {
    width: 100px;
    padding: 5px;
    background-color: rgb(226, 97, 213);
}

.boton-reiniciar {
    width: 100px;
    padding: 5px;
    background-color: rgb(93, 32, 104);
}

.puntaje-limite {
    color: red;
    transition: 0.5s;
}

/* Ajuste para el historial de partidas */
.partidas {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    padding: 1%;
    margin: 1%;
    background-color: #a77dcdc2;
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulin {
    font-size: medium;
}

.partidas p {
    color: black;
    font-family: 'Teko', sans-serif;
    text-align: center;
 text-transform: uppercase;
}
@keyframes brillo {
    0% {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    50% {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    }
    100% {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
  }
  
  .boton-brillo {
    animation: brillo 1s infinite alternate;
  }
  