* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-size: cover;
    background-image: url(../imgStatic/fondoLoguin.png);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Estilos para el formulario */


.btn-primary {
    border: none;
    background-color: #2D2A49;
    border-radius: 10px;
    height: 60px;
    width: 400px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    font-size: 18px; /* Tamaño de fuente */
}

.btn-primary:hover {
    background-color: #CF4CEA;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3);

}
.text-center img{
    border: 4px solid #2D2A49;
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    margin: 15px;
    object-fit: cover;
    object-position: center;
    object-fit: cover;
}


.form-control {
    border: 1px solid gray;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 60px;
    padding-left: 10px; /* Añadido para padding interno */
    font-size: 18px; /* Tamaño de fuente */
}
.form-control:focus {
    border-color: #CF4CEA;
    box-shadow: 0 0 5px rgba(207, 76, 234, 0.5);
    outline: none;
}
input[type="text"]{
    padding-left:15px;
}