*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../imgStatic/fondoLoguin.png);
    background-size: cover;
}
.frase {
    width: 500px;
    text-align:center;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.frase p{
    font-family: "Clip";
    text-transform:uppercase;
    font-size: 1em;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Estilos para el formulario */
.form-control {
    border: 1px solid gray;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px;
}


.btn-primary {
    border: none;
    background-color: #2D2A49;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
    background-color: #CF4CEA;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.3);

}

.text-center img {
    margin-top: 0;
    width: 200px;
}

.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.titulo-img{
    width: 200px;
}


.icono{
    color:white;
    font-size:20px;
    z-index: 1000;
    margin-left:15px;
    padding-top:10px;
}

.icono:hover{
    text-shadow: 0 0 30px #e140ec, 0 0 50px #e140ec, 0 0 70px #e140ec, 0 0 60px #e140ec, 0 0 80px #F9EADE, 0 0 80px #F9EADE, 0 0 90px #F9EADE;
    color:white;
}
.boton-fijo a{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #28a745;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    border-radius: 4px 0 0 4px;
    transition: background-color 0.3s ease;
}

.boton-fijo a:hover {
    background-color: #218838;
}