@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background-image: linear-gradient(rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
}

.margin {
    margin: 5%;
    width: 100%;
    max-width: 75em; 
}

.titulo {
    text-align: center;
    margin: 5%;
    border-radius: 0.313em;
    color: #ffffff;
}

.galactic-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 0.625em #fff, 0 0 1.25em #ff00ff, 0 0 1.875em #ff00ff, 0 0 2.5em #ff00ff, 0 0 3.125em #ff00ff, 0 0 3.75em #ff00ff, 0 0 4.375em #ff00ff;
    }
    to {
        text-shadow: 0 0 1.25em #fff, 0 0 1.875em #ff00ff, 0 0 2.5em #ff00ff, 0 0 3.125em #ff00ff, 0 0 3.75em #ff00ff, 0 0 4.375em #ff00ff, 0 0 5em #ff00ff;
    }
}

.barra {
    color: #ffffff;
    background-color: #B39DDB;
    margin: 2%;
    margin-left: 5%;
    border-radius: 0.313em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

/* ------------------------ESTILOS DE TABLERO--------------------------- */

.tablero-fondo {
    display: flex;
    align-items: center;
    margin: 5%;
    justify-content: center;
}
.tablero{
    background-color: #B39DDB;
}
.ficha {
    width: 3.125em;
    height: 3.125em;
    box-shadow: rgba(0, 0, 0, 0.35) 0em 0.3125em 0.9375em;
    background-color: #aa81f5; 
    border-radius: 1.563em;
    margin: 0.313em;
    float: left;
}

.ficha:hover {
    background-color: #50298d; 
    transition: background-color 0.1s;
}

.ficha-seleccionada {
    background-color: #7d4cd8;
}

.vacio {
    width: 3.125em;
    height: 3.125em;
    background-color: #f4f4f4;
    border-radius: 1.25em;
    margin: 0.313em;
    float: left;
}

.vacio:hover {
    background-color: #ffffffc4;
    transition: background-color 0.2s;
}

.vacio-seleccionado {
    background-color: #DDDDDD;
}

.fila {
    clear: both;
}

/* ------------------------ESTILOS DE BOTONES--------------------------- */

.botones {
    display: flex;
    margin: 0.5em;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.botones form {
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0 1em;
}

.botones button {
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    border: none;
    border-radius: 2em;
    color: white;
}

.boton-reiniciar {
    background-color: #64b5f6; 
    box-shadow: rgba(100, 181, 246, 0.4) -0.25em 0.25em, rgba(100, 181, 246, 0.3) -0.5em 0.5em, rgba(100, 181, 246, 0.2) -0.75em 0.75em, rgba(100, 181, 246, 0.1) -1em 1em, rgba(100, 181, 246, 0.05) -1.25em 1.25em;
}



.boton-reiniciar:hover {
    background-color: #42a5f5; 
    transform: translateY(-0.1em);
}



.mt {
    margin-top: 1.25em; 
    margin-left: 1.25em; 
}

/* ------------------------ESTILOS MENSAJE--------------------------- */


.mensaje {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

/* ------------------------ESTILOS RESPONSIVOS--------------------------- */
@media (max-width: 48em) { 
    .botones {
        flex-direction: column;
    }
    
    .botones form {
        margin: 0.5em 0;
    }
    
    .titulo h1 {
        font-size: 2em;
    }
    
    .titulo h3, .titulo p {
        font-size: 1em;
    }
}
