@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;

}

body {
    background-image: linear-gradient(152.43deg, #FFE5CC 17.15%, #A1EA9A 72.73%);
    min-height: 100vh;
}

.margin{
    margin: 5%;
}
.titulo {
    text-align: center;
    margin: 5%;
    border-radius: 5px;
    color: #4E4E4E; /* Color neutro para el texto */
}

.barra {
    color: white;
    background-color: #FF6F61; /* Ajustado para armonizar mejor */
    margin: 2%;
    margin-left: 5%;
    border-radius: 0.313em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

/* ------------------------ESTILOS DE TABLERO--------------------------- */

.tablero-fondo {
    display: flex;
    align-items: center;
    margin: 5%;
    justify-content: center;
}

.ficha {
    width: 3.125em;
    height: 3.125em;
    background-color: #6A0572; /* Un tono morado oscuro */
    border-radius: 1.563em;
    margin: 0.313em;
    float: left;
}

.ficha:hover {
    background-color: #A146A1; /* Tono morado más claro */
    transition: background-color 0.2s;
}

.ficha-seleccionada {
    background-color: #A146A1;
}

.vacio {
    width: 3.125em;
    height: 3.125em;
    background-color: #F4F4F4; /* Blanco suave */
    border-radius: 1.25em;
    margin: 0.313em;
    float: left;
}

.vacio:hover {
    background-color: #DDDDDD; /* Gris claro */
    transition: background-color 0.2s;
}

.vacio-seleccionado {
    background-color: #DDDDDD;
}

.fila {
    clear: both;
}

/* ------------------------ESTILOS DE BOTONES--------------------------- */

.botones-modal {
    display: flex;
    margin: 2%;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.boton-reiniciar {
    margin: 2%;
    font-size: small;
    text-transform: uppercase;
    padding: 2%;
    border: none;
    border-radius: 2em;
    color: white;
    background-color: #E57373; /* Tono rojo suave */
    box-shadow: rgba(230, 57, 70, 0.4) -5px 5px, rgba(230, 57, 70, 0.3) -10px 10px, rgba(230, 57, 70, 0.2) -15px 15px, rgba(230, 57, 70, 0.1) -20px 20px, rgba(230, 57, 70, 0.05) -25px 25px;
}

.boton-volver-inicio {
    margin: 2%;
    font-size: small;
    text-transform: uppercase;
    padding: 2%;
    border: none;
    border-radius: 2em;
    color: white;
    background-color: #81C784; /* Verde suave */
    box-shadow: rgba(129, 199, 132, 0.4) 5px 5px, rgba(129, 199, 132, 0.3) 10px 10px, rgba(129, 199, 132, 0.2) 15px 15px, rgba(129, 199, 132, 0.1) 20px 20px, rgba(129, 199, 132, 0.05) 25px 25px;
}

.mt {
    margin-top: 20px;
    margin-left: 20px;
}

/* ------------------------ESTILOS DE CUADRO DE INFO--------------------------- */
.jugador-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.jugador-info.show {
    max-height: 500px; /* Ajusta según el contenido */
}

.mensaje {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4E4E4E; /* Color neutro para el mensaje */
}