<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/aboutUs.css}" />
    <title>Sobre Nosotros</title>

</head>
<body>
    <h1>CONOCE A LOS DESARROLLADORES</h1>
    <h2>amamos los jueguitos,programar y los gatos</h2>

    <!--CARDS-->
    <div class="cards">
        <div class="card lilac-1">
            <p class="tip">Hover Me</p>
            <p class="second-text">Lorem Ipsum</p>
        </div>
        <div class="card lilac-2">
            <p class="tip">Hover Me</p>
            <p class="second-text">Lorem Ipsum</p>
        </div>
        <div class="card lilac-3">
            <p class="tip">Hover Me</p>
            <p class="second-text">Lorem Ipsum</p>
        </div>
        <div class="card lilac-4">
            <p class="tip">Hover Me</p>
            <p class="second-text">Lorem Ipsum</p>
        </div>
        <div class="card lilac-5">
            <p class="tip">Hover Me</p>
            <p class="second-text">Lorem Ipsum</p>
        </div>
    </div>
    


</body>
</html>