<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CatSino Senku</title>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/ahorcado.css}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/ahorcado.js}"></script>
<!-- Favicon -->
<link rel="icon" type="image/x-icon" th:href="@{/imgStatic/logo.png}" />
</head>

<body>

    <main>
        <div class="titulo">
            <h1>AHORCADO</h1>
            <p>¡No mueras, <span th:text="${jugador.nombre}">Jugador</span>!</p>
            <p>Palabra: <span th:text="${palabra}"></span></p>
          
            <img th:src="@{/imgStatic/imagenAcesso.png}"  class="ahorcado" alt="ahorcado">
       
            <form action="#" method="post">
                <input type="text" name="letra" />
                <input type="hidden" name="palabra" th:value="${palabra}" />
                <input type="hidden" name="partesAhorcado" th:value="${partesAhorcado}" />
                <input type="submit" value="Enviar" />
            </form>
        </div>
    </main>
    

</body>

</html>