<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Bingo</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">UNLAM</a>
  </nav>

  <main role="main" class="container">
    <h1>Bingo</h1>
    <p th:text="${numeroCantado}" id="numeroCantado"></p>
    <form action="/marcarCasillero" method="post" id="bingoForm">
      <input type="hidden" name="numeroCantado" th:value="${numeroCantado}"/>
      <table class="w3-table-all w3-card-4">
        <tbody class="carton">
          <tr th:each="fila : ${carton.numeros}">
            <td class="casillero" th:each="numero : ${fila}" th:text="${numero}"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </main>
  <!-- /.container -->

  <!-- Boostrap core js -->
  <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>

</html>