<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bingo multijugador</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/imgStatic/logo.png}" />
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}" />

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/bingoBot.css}" />
    <link rel="stylesheet" th:href="@{/css/abandonarPartida.css}" />

    <!----link google fonts--->
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>

    <link th:href="@{https://fonts.googleapis.com/css2?family=Honk&family=Rammetto+One&display=swap}" rel="stylesheet">

    <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css}">
    <script th:src="@{https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/customModal.js}"></script>
</head>

<body>
    <section id="fondoBingo">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </section>
    <nav class="nav-bar mt">
        <a href="javascript:void(0)" id="openCustomExitModal">
            <span class="material-symbols-outlined icono">arrow_back</span>
        </a>
        <!-- Icono para reproducir/pausar música -->
        <i id="toggleMusica" class="fas fa-music boton-musica" onclick="togglePlaylist()"></i>

        <!-- Contenedor de la playlist -->
        <div class="playlist-container" th:classappend="${playlistVisible} ? '' : 'hidden'">
            <iframe id="playlist" style="border-radius:12px"
                th:src="@{https://open.spotify.com/embed/playlist/62emNerb9lRrq16i4NGT91?utm_source=generator&theme=0}"
                width="100%" height="152" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
    </nav>

    <main class="container">

        <div>
            <h3>Últimas compras</h3>
            <div th:if="${compras}">
                <ul>
                    <li th:each="compra : ${compras}">
                        <p>Descripción: <span th:text="${compra.descripcion}"></span></p>
                        <p>Precio: <span th:text="${compra.precio}"></span></p>
                        <p>Fecha: <span th:text="${#dates.format(compra.fecha, 'dd-MM-yyyy HH:mm')}"></span></p>
                    </li>
                </ul>
            </div>
            <div th:if="${mensajeError}">
                <p th:text="${mensajeError}"></p>
            </div>
        </div>

        <!----NUMERO QUE SALE---->
        <div class="numeroCantadoContenedor">
            <p id="numeroCantado"></p>
        </div>

        <!----NUMEROS QUE SALIERON---->
        <div class="numerosEntregados">
            <p id="numeroCantadoColeccion"></p>
        </div>

        <!---NUMEROS QUE FALTAN----->

        <p id="numerosRestantesParaCompletarLaTirada"></p>
        <!----CARTONES DE BINGO---->
        <div class="contenedorCartones">
            <!-- user -->
            <table id="tablaUser">
                <tbody class="cartonUser carton">
                </tbody>
            </table>

            <!-- bot -->
            <div id="ContenedortablaBot">
                <div class="ventana-header">Tu oponente</div>
                <div class="contenidoBot">
                    <table id="tablaBot">
                        <tbody class="cartonBot carton">
                        </tbody>
                    </table>
                </div>
            </div>



        </div>

        <div class="w3-container">
            <button id="botonBingo" type="submit" class="w3-button w3-xlarge w3-wide w3-purple w3-cel"
                onclick="bingo()">BINGO</button>
        </div>


    </main>

    <!-- /.container -->

    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bingoBot.js}"></script>

    <!-- Modal de Bingo -->
    <div id="modalBingo" class="modal w3-animate-top">
        <div class="modal-content">
            <h3 class="tituloModal"></h3>
            <p class="textoModal"></p>
            <form th:action="@{/finalizarPartidaBot}" method="post">
                <button type="submit" class="boton-volver">Volver al inicio</button>
            </form>
        </div>
    </div>
    <!-- Modal de Confirmación -->
    <div id="customExitModal" class="modal-custom">
        <div class="modal-content-custom">
            <div class="modal-header-custom">
                <h5>Confirmar Abandono</h5>
                <span class="close-custom" id="closeCustomExitModal">&times;</span>
            </div>
            <div class="modal-body-custom">
                ¿Estás seguro de que deseas abandonar la partida?
            </div>
            <div class="modal-footer-custom">
                <button id="customCancelButton" class="boton-cancelar-custom">
                    Cancelar
                </button>
                <a th:href="@{/volverAlMenu}" class="boton-abandonar-custom">Abandonar</a>
            </div>
        </div>
    </div>
    <!-- Modal de limite alcanzado de bolas -->

    <div id="modalLimite" class="modal">
        <div class="modal-content2">
            <img th:src="@{/imgStatic/gatitoTriste.png}" alt="gato triste" class="gatoTriste">
            <div class="text-container">
                <h3>¡<span th:text="${nombreJugador}"></span>, alcanzaste el límite de números cantados!</h3>
                <form th:action="@{/finalizarPartidaBot}" method="post">
                    <button type="submit" class="boton-volver">Finalizar</button>
                </form>
                <form action="#" method="post">
                    <button type="submit" class="boton-volver" onclick="abrirModalDeCompra()">Comprar una
                        tirada</button>
                </form>
                <p th:text="${mensajeError}" class="mensajeErrorPartidaBingo"></p>
            </div>
        </div>
    </div>

    <!-- Modal de compra de tirada -->
    <div class="modal" id="modalCompra">
        <h3>Compra tirada</h3>
        <form action="" method="post" class="formCompra">
            <div>
                <label>
                    <input type="radio" name="opcion" value="99" required>
                    99 números
                </label><br>
                <p>8000 ARGS</p>
            </div>
            <div>
                <label>
                    <input type="radio" name="opcion" value="50" required>
                    50 números
                </label><br>
                <p>5000 ARGS</p>
            </div>
            <div>
                <label>
                    <input type="radio" name="opcion" value="20" required>
                    20 números
                </label><br>
                <p>2000 ARGS</p>
            </div>
            <br>
            <button type="submit">Comprar</button>
        </form>

        <div class="modalCompraIngresoTarjeta">
            <form action="" method="post">
                <input type="text" placeholder="Ingresá el nombre del titular de la tarjeta">
                <input type="number" name="" id="" value="" placeholder="Ingresá el número">
                <input type="date" name="" id="" placeholder="Ingresá la fecha de vencimiento">
                <input type="number" name="" id="" placeholder="Ingresá el código de seguridad" maxlength="4">
            </form>
        </div>
    </div>


    <script th:src="@{/js/musica.js}"></script>

</body>

</html>