<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Bingo</title>
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" th:href="@{/imgStatic/logo.png}" />
  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}" />

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/bingo.css}" />
  <link rel="stylesheet" th:href="@{/css/abandonarPartida.css}" />
  <link rel="stylesheet" th:href="@{/css/modalCompra.css}" />

  <!-- Google Fonts -->
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link th:href="@{https://fonts.googleapis.com/css2?family=Honk&family=Rammetto+One&display=swap}" rel="stylesheet">
  <link rel="stylesheet"
    th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200}" />
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css}">

  <!-- Confetti JS -->
  <script th:src="@{https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js}"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/customModal.js}"></script>
</head>

<body>
  <section id="fondoBingo">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </section>
  <nav class="nav-bar mt">
    <a href="javascript:void(0)" id="openCustomExitModal">
      <span class="material-symbols-outlined icono">arrow_back</span>
    </a>
    <!-- Icono para reproducir/pausar música -->
    <i id="toggleMusica" class="fas fa-music boton-musica" onclick="togglePlaylist()"></i>

    <!-- Contenedor de la playlist -->
    <div class="playlist-container" th:classappend="${playlistVisible} ? '' : 'hidden'">
      <iframe id="playlist" style="border-radius:12px"
        th:src="@{https://open.spotify.com/embed/playlist/62emNerb9lRrq16i4NGT91?utm_source=generator&theme=0}"
        width="100%" height="152" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  </nav>

  <main role="main" class="container">
    <!-- Número que sale -->
    <div class="numeroCantadoContenedor">
      <p id="numeroCantado"></p>
    </div>

    <!-- Números que salieron -->
    <div class="numerosEntregados">
      <p id="numeroCantadoColeccion"></p>
    </div>

    <!-- Números que faltan -->
    <p id="numerosRestantesParaCompletarLaTirada"></p>

    <!-- Cartón de Bingo -->
    <div class="contenedorCartones">
      <!-- user -->
      <table id="tablaUser">
        <tbody class="cartonUser carton">
        </tbody>
      </table>

      <!-- historial de compras -->
      <div id="contenedorHistorial">
        <h3>&Uacute;ltimas compras</h3>
        <div th:if="${compras}">
          <div th:each="compra : ${compras}">
            <h4>Compra: <span th:text="${compra.id}"></span></h4>
            <p>Descripci&oacute;n:
              <span th:if="${compra.descripcion == 'DIEZ_NUMEROS'}">10 n&uacute;meros</span>
              <span th:if="${compra.descripcion == 'VEINTE_NUMEROS'}">20 n&uacute;meros</span>
              <span th:if="${compra.descripcion == 'TREINTA_NUMEROS'}">30 n&uacute;meros</span>
            </p>
            <p>Precio: <span th:text="${compra.precio}"></span></p>
            <p>Fecha: <span th:text="${#dates.format(compra.fecha, 'dd-MM-yyyy')}"></span></p>
          </div>
        </div>
        <div th:if="${mensajeErrorCompra}">
          <p th:text="${mensajeErrorCompra}"></p>
        </div>
      </div>

    </div>

    <!-- Botones de Bingo y Línea -->
    <div class="w3-container">
      <button id="botonBingo" type="submit" class="w3-button w3-xlarge w3-wide w3-purple w3-cel"
        onclick="bingo()">BINGO</button>
      <button id="botonLinea" class="w3-button w3-xlarge w3-wide w3-purple w3-cel" onclick="linea()">LINEA</button>
    </div>



  </main>

  <!-- Bootstrap y Bingo JS -->
  <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bingo.js}"></script>

  <!-- Modal de Bingo -->
  <div id="modalBingo" class="modal w3-animate-top">
    <div class="modal-content">
      <h3>Hiciste <span th:text="${tipoPartidaBingoDeLaSesion}"></span></h3>
      <p>¡Felicidades, <span th:text="${nombreJugador}"></span>!</p>
      <form th:action="@{/finalizarPartida}" method="post">
        <div class="botones">
          <button type="submit" class="boton-volver">Finalizar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal Compra -->
  <div id="modalCompra" class="modal-ayuda" style="display: none;">
    <div class="modal-contenido">
      <div class="modal-header">
        <h2>Compra de Tiradas</h2>
        <span class="cerrar-modal" onclick="cerrarModalCompra()">&times;</span>
      </div>
      <div class="modal-body">
        <span class="flecha-atras" onclick="irAtras()" style="display: none;">
            <span class="material-symbols-outlined icono">arrow_back</span>
        </span>

        <section class="seccion seccion-activa" id="seccionOpciones">
          <div class="card-group">
            <div class="card">
              <img th:src="@{/imgStatic/tirada10.png}" class="card-img-top" alt="10 números">
              <div class="card-body">
                <h5 class="card-title">10 números</h5>
                <p class="card-text">Precio: $100ARS</p>
                <button class="btn btn-primary" onclick="abrirSeccionCompra('10 números', '100', 10)">
                  <i class="fas fa-money-bill-wave"></i> Comprar Tirada
                </button>
              </div>
            </div>
            <div class="card">
              <img th:src="@{/imgStatic/tirada20.png}" class="card-img-top" alt="20 números">
              <div class="card-body">
                <h5 class="card-title">20 números</h5>
                <p class="card-text">Precio: $200ARS</p>
                <button class="btn btn-primary" onclick="abrirSeccionCompra('20 números', '200', 20)">
                  <i class="fas fa-money-bill-wave"></i> Comprar Tirada
                </button>
              </div>
            </div>
            <div class="card">
              <img th:src="@{/imgStatic/tirada30.png}" class="card-img-top" alt="30 números">
              <div class="card-body">
                <h5 class="card-title">30 números</h5>
                <p class="card-text">Precio: $300ARS</p>
                <button class="btn btn-primary" onclick="abrirSeccionCompra('30 números', '300', 30)">
                  <i class="fas fa-money-bill-wave"></i> Comprar Tirada
                </button>
              </div>
            </div>
          </div>
        </section>

        <section class="seccion" id="seccionDatosTarjeta" style="display: none;">
          <div class="contenidoTarjeta">
            <h2 class="tituloTarjeta"><i class="fas fa-credit-card"></i> Ingresa los datos de la tarjeta</h2>
            <div id="datosCompra"></div>
            <form class="formTarjeta" onsubmit="procesarCompra(event)">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nombreTitular"><i class="fas fa-user"></i> Nombre del titular:</label>
                  <input type="text" id="nombreTitular" name="nombreTitular" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="numeroTarjeta"><i class="fas fa-credit-card"></i> Número de tarjeta:</label>
                  <input type="text" id="numeroTarjeta" name="numeroTarjeta" class="form-control" maxlength="16" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dni"><i class="fas fa-id-card"></i> DNI del titular:</label>
                  <input type="number" id="dni" name="dni" class="form-control" maxlength="8" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="fechaCaducidad"><i class="fas fa-calendar-alt"></i> Fecha de caducidad:</label>
                  <input type="month" id="fechaCaducidad" name="fechaCaducidad" class="form-control" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="codigoSeguridad"><i class="fas fa-lock"></i> Código de seguridad:</label>
                  <input type="number" id="codigoSeguridad" name="codigoSeguridad" class="form-control" maxlength="3" required>
                </div>
              </div>
              <div id="error">
                <p class="error"></p>
              </div>
              <div class="boton-comprar-container">
                <button type="submit" class="btn btn-primary" id="btn">Comprar</button>
              </div>
            </form>
          </div>
        </section>

        <section class="seccion" id="seccionResumenCompra" style="display: none;">
          <div class="contenidoResumen">
            <h2>Resumen de la compra</h2>
            <div id="resumenCompra"></div>
            <div class="botonesResumen">
              <button class="btn btn-secondary" onclick="cerrarModalCompra()">CANCELAR</button>
              <button class="btn btn-success" onclick="aceptarCompra()">Sí, acepto</button>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>



  <div id="modalLimite" class="modal">
    <div class="modal-content2">
      <div class="text-container">
        <h3>¡<span th:text="${nombreJugador}"></span>, alcanzaste el límite de números cantados!</h3>
        <form th:action="@{/finalizarPartida}" method="post">
          <button type="submit" class="boton-volver">Finalizar</button>
        </form>
        <a href="javascript:void(0)" class="boton-compra abrir-modal" onclick="abrirModalCompra()">
          <span class="material-symbols-outlined">monetization_on</span> COMPRAR TIRADA
        </a>
        <p th:text="${mensajeError}" class="mensajeErrorPartidaBingo"></p>
      </div>
    </div>
  </div>


  <script th:src="@{/js/musica.js}"></script>
  <script th:src="@{/js/compra.js}"></script>

</body>

</html>