<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>BlackJack</title>
  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />
  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/blackjack.css}" />
  <link rel="stylesheet" th:href="@{/css/abandonarPartida.css}" />
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" th:href="@{/imgStatic/logo.png}" />
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" />

  <!-- javascript-->
  <script type="module" th:src="@{/js/blackjack.js}"></script>
  <script th:src="@{/js/cronometro.js}"></script>
  <script th:src="@{/js/customModal.js}"></script>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <nav class="nav-bar mt">
    <a href="javascript:void(0)" id="openCustomExitModal">
      <span class="material-symbols-outlined icono">arrow_back</span>
    </a>
  </nav>

  <a href="javascript:void(0)" class="boton-ayuda" onclick="abrirModalAyuda()">
    <i class="fas fa-question-circle"></i>
  </a>

  <!-- Modal de ayuda -->
  <div id="modalAyuda" class="modal-ayuda">
    <div class="modal-contenido">
      <div class="modal-header">
        <h2>&iquest;C&oacute;MO JUGAR?</h2>
        <span class="cerrar-modal" onclick="cerrarModalAyuda()">&times;</span>
      </div>
      <div class="modal-body">
        <img th:src="@{/imgStatic/infografiaBj.png}" class="infografia" alt="infografiaBingo">
      </div>
    </div>
  </div>

  <!-- El modal que se abre al finalizar la partida -->
  <div id="modalFinPartida" class="modal">
    <!-- Contenido del modal -->
    <div class="modal-content">
      <h2 id="resultadoPartida"></h2>
      <div class="botones-modal">
        <form th:action="@{/reiniciarBlackjack}" method="post">
          <button type="submit" class="boton-reiniciar">
            Jugar otra partida
          </button>
        </form>
        <form th:action="@{/finalizarBlackjack}" method="post">
          <button type="submit" class="boton-volver-inicio">
            Volver al inicio
          </button>
        </form>
      </div>
    </div>
  </div>

  <main class="container-main">

    <div class="container-left">
      <div class="container-principal">
        <div class="cartas-container" id="cartasCasa"></div>
        <br />
        <p class="puntaje-mano">Tu mano: <span id="puntaje"></span></p>
        <div class="cartas-container" id="cartasJugador"></div>
        <div class="botones">
          <button id="pedirCarta" class="boton-pedir boton-brillo">
            Pedir Carta
          </button>
          <button id="plantarse" class="boton-plantarse boton-brillo">
            Plantarse
          </button>
        </div>
      </div>
    </div>
    <div class="container-right">
      <div th:if="${tituloMensaje == 'BlackjackLengendary'}">
        <img th:src="@{/imgStatic/blegendary.gif}" alt="Blackjack Legendary GIF" style="
max-width: 388px;
border-radius: 10px;
transform: translateY(-50px);
" />
      </div>
      <div class="jugador-info">
        <h3 class="nombre-jugador">Jugador: <span id="nombre"></span></h3>
        <div class="time">
          <span style="color: white" class="material-symbols-outlined">access_time
          </span>
          <p style="color: white" class="tiempo" id="tiempoBj">
            Tiempo transcurrido: <span class="reloj">00:00:00</span>
          </p>
        </div>
      </div>
      <div class="partidas">
        <p class="titulin">Tu historial de partidas</p>
        <p th:text="${mensajePartidas}" class="mensaje-partidas"></p>
        <div class="c-partidas"></div>
      </div>
    </div>
  </main>
  <!-- Modal de Confirmaci&oacute;n -->
  <div id="customExitModal" class="modal-custom">
    <div class="modal-content-custom">
      <div class="modal-header-custom">
        <h5>Confirmar Abandono</h5>
        <span class="close-custom" id="closeCustomExitModal">&times;</span>
      </div>
      <div class="modal-body-custom">
        &iquest;Est&aacute;s seguro de que deseas abandonar la partida?
      </div>
      <div class="modal-footer-custom">
        <button id="customCancelButton" class="boton-cancelar-custom">
          Cancelar
        </button>
        <a th:href="@{/volverAlMenu}" class="boton-abandonar-custom">Abandonar</a>
      </div>
    </div>
  </div>
  <script th:src="@{/js/modalAyuda.js}"></script>

</body>

</html>