<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>

  <body>
    <!--
HEADER Y NAV, AUN EN CONSTRUCCION
-->

    <main>
      <h1>Bienvenido, <span th:text="${nombreJugador}"></span>!</h1>
      <h2>Tus cartas son:</h2>
      <ul id="listaCartas">
        <!-- Las cartas se agregarán aquí dinámicamente -->
      </ul>
      <span id="estado"></span>
      <button onclick="plantarse()">Plantarse</button>

      <button onclick="pedirCarta()">Pedir carta</button>
    </main>

    <!-- Boostrap core js -->
    <script
      type="text/javascript"
      th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"
    ></script>
    <script>
      let perdio = false;
      function mostrarEstado(perdio) {
        let estadoElemento = document.getElementById("estado");
        estadoElemento.textContent = perdio ? "Perdió" : "";
      }
      function pedirCarta() {
        // no poner slash en la url
        fetch("pedir-carta")
          .then((response) => {
            if (!response.ok) {
              throw new Error("Hubo un problema con la solicitud.");
            }
            return response.json();
          })
          .then((carta) => {
            console.log(carta.valor);
            var listaCartas = document.getElementById("listaCartas");
            var nuevaCarta = document.createElement("li");
            nuevaCarta.textContent =
              carta.valor + " de " + carta.palo.toLowerCase();
            listaCartas.appendChild(nuevaCarta);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      function plantarse() {
        fetch("plantarse")
          .then((response) => {
            if (!response.ok) {
              throw new Error("Hubo un problema con la solicitud.");
            }
            return response.json();
          })
          .then((perdio) => {
            console.log(perdio);
            mostrarEstado(perdio);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
