<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>BlackJack</title>
    <!-- Boostrap core css -->
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/blackjack.css}" />
    li
    <!-- javascript-->
    <script th:src="@{/js/blackjack.js}"></script>
  </head>

  <body>
    <!-- El modal que se abre al finalizar la partida -->
    <div id="modalFinPartida" class="modal">
      <!-- Contenido del modal -->
      <div class="modal-content">
        <h2 id="resultadoPartida"></h2>
        <form th:action="@{/inicio-blackjack}">
          <button type="submit">Home</button>
        </form>
      </div>
    </div>

    <h1>Blackjack</h1>
    <p>Cartas del crupier:</p>
    <div id="cartasCasa"></div>
    <br />
    <p>Tus cartas son:</p>
    <div id="cartasJugador"></div>
    <button id="pedirCarta">Pedir Carta</button>
    <button id="plantarse">Plantarse</button>
    <button id="reiniciar">modal</button>
  </body>
</html>
