<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Chin</title>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/prueba-loguin.css}">


</head>

<body>
<main role="main" class="container">
    <h1>Bienvenido al Chin</h1>
    <img th:src="@{/imgStatic/404.jpg}" alt="Dificultades Técnicas">
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script
        type="text/javascript"
        th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"
></script>
<script></script>
</body>
</html>