<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Blackjack</title>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/prueba-loguin.css}">

    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200}" />


  </head>

  <body>
  <nav class="nav-bar">
    <a href="acceso-juegos">
      <span class="material-symbols-outlined icono">arrow_back</span>
    </a>
  </nav>

<main role="main" class="container">
  <img th:src="@{/imgStatic/tituloPerfil.png}" alt="titulo" class="titulo-img">
  <div class="text-center">
    <img th:src="@{/imgStatic/logo.png}" alt="Imagen Redonda">
</div>
  <form
        action="#"
        th:action="@{/blackjack}"
        method="POST"
        th:object="${nuevoJugador}"
        class="text-center"
      >
      <div class="mb-3">
<!--        <h3 class="form-signin-heading">Nueva Partida</h3>-->
        <hr class="colorgraph" />
        <br />


        <input th:field="*{nombre}" id="email" class="form-control" required placeholder="Ingrese tu nommbre" />
      </div>
        <button
          id="btn-registrarme"
          class="btn btn-primary"
          type="Submit"
        >
          Ingresar
        </button>
      </form>
    </main>
    <!-- /.container -->

    <!-- Boostrap core js -->
    <script
      type="text/javascript"
      th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"
    ></script>
    <script></script>
  </body>
</html>
