<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Blackjack</title>
    <link rel="stylesheet" th:href="@{/css/estilos-IrA.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <nav class="nav-bar">
      <a href="volverAlMenu">
        <span class="material-symbols-outlined icono">arrow_back</span>
      </a>
    </nav>
    <main class="container">
      <img
        th:src="@{/imgStatic/BjTitulo2.png}"
        alt="titulo"
        class="imagen-home"
      />
      <form
        th:action="@{/blackjack}"
        method="post"
        th:object="${nuevoJugador}"
        class="text-center"
      >
        <input type="hidden" name="contrareloj" value="false" />
        <input type="hidden" name="tiempoLimite" value="2" />
        <button type="submit" class="btn btn-primary">
          <span class="material-symbols-outlined">play_circle</span>JUGAR
        </button>
      </form>

      <button class="btn btn-primary" id="playWithTimeButton">
        <span class="material-symbols-outlined">timer</span>JUGAR CON TIEMPO
      </button>

      <button type="submit" class="btn btn-primary">
        <span class="material-symbols-outlined">group</span>MULTIJUGADOR
      </button>
      <form th:action="@{/verRanking}" method="post">
        <input type="hidden" name="tipoJuego" value="BLACKJACK" />
        <button type="submit" class="btn btn-primary">
          <span class="material-symbols-outlined">bar_chart</span>RANKING
        </button>
      </form>
    </main>
    <!-- Modal -->
    <div id="timeModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Ingresa el tiempo en el que quieras jugar:</h3>
        <form th:action="@{/blackjack}" method="post">
          <input type="hidden" value="true" name="contrareloj" />
          <input
            type="number"
            id="gameTime"
            name="tiempoLimite"
            placeholder="Tiempo en minutos"
            th:value="${tiempoDefault}"
          />
          <button class="btn" type="submit" id="startGameWithTime">
            JUGAR
          </button>
        </form>
      </div>
    </div>
    <script>
      // Obtener elementos del DOM
      const modal = document.getElementById("timeModal");
      const btn = document.getElementById("playWithTimeButton");
      const span = document.getElementsByClassName("close")[0];
      const startGameBtn = document.getElementById("startGameWithTime");

      // Cuando el usuario hace clic en el botón, se abre el modal
      btn.onclick = function () {
        modal.style.display = "block";
      };

      // Cuando el usuario hace clic en la 'x', se cierra el modal
      span.onclick = function () {
        modal.style.display = "none";
      };

      // Cuando el usuario hace clic en cualquier parte fuera del modal, se cierra el modal
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };

      // Redirigir al usuario a la partida con el tiempo ingresado
      startGameBtn.onclick = function () {
        const time = document.getElementById("gameTime").value;
        if (time) {
          window.location.href = `/blackjack?time=${time}`; // Ajusta la URL según sea necesario
        } else {
          alert("Por favor, ingresa un tiempo válido.");
        }
      };
    </script>
  </body>
</html>
