<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Bingo</title>
    <link rel="stylesheet" th:href="@{/css/salaDeEspera.css}" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.4.0/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="loader"></div>
<nav class="nav-bar">
    <a th:href="@{/volverAlMenu}">
        <span class="material-symbols-outlined icono">arrow_back</span>
    </a>
</nav>
<img th:src="@{/imgStatic/gatoMafioso.png}" class="gatoMafioso">
<div class="title">Bienvenido a la sala de espera</div>
<div class="main-content">
    <div class="background-pattern"></div>
    <h3>Estamos buscando un compañero para que comiences tu partida</h3>
    <div class="player-container">
        <p><span >Jugador 1:</span> <span id="nombreJugador1" th:text="${nombreUsuario}">Nombre del Usuario</span></p>
    </div>
    <div class="player-container">
        <p><span >Jugador 2:</span> <span id="nombreJugador2" th:text="${nombreJugador2 != null ? nombreJugador2 : 'esperando nuevos jugadores'}">esperando nuevos jugadores</span></p>
    </div>
    <form th:action="@{/comenzarJuegoBingoMultijugador}" method="get" class="text-center">
        <!--            <button id="iniciarPartidaButton" onclick="comenzarPartida()">Empezar Partida</button>-->
    </form>
</div>
<div class="stars"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const socket = new SockJS('/spring/sala-espera');
    const stompClientSalaEspera = Stomp.over(socket);
    stompClientSalaEspera.connect({}, function (frame) {
        console.log('Conectado: ' + frame);
        stompClientSalaEspera.subscribe('/topic/updates', function (message) {
            const data = JSON.parse(message.body);
            document.getElementById('nombreJugador2').textContent = data.nombreJugador2;
            if (document.getElementById('nombreJugador2').textContent != "esperando nuevos jugadores") {
                window.location.href = '/comenzarJuegoBingoMultijugador';
            }
        });

        stompClientSalaEspera.send("/app/bingo-multijugador/connect", {}, JSON.stringify({ jugador: "Nombre del jugador" }));
    });
    });
</script>

<script th:src="@{/js/bingo.js}"></script>
<script th:src="@{/js/modal.js}"></script>

<script th:src="@{/js/sockjs.min.js}"></script>
<script th:src="@{/js/stomp.min.js}"></script>
</body>

</html>