<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CatSino Senku</title>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/senku.css}"/>
    <!-- Boostrap core css -->
    <link
            rel="stylesheet"
            th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />


</head>

<body>
<main>
    <h1 th:text="${mensaje}"></h1>
    <p>Sólo uno</p>
    <form
            action="#"
            th:action="@{/senku}"
            method="POST"
    >
        <h3 class="form-signin-heading">Nueva Partida</h3>
        <hr class="colorgraph" />
        <br />

        <label for="nombre">Ingresa tu nombre :</label>
        <input th:field="*{nombre}" id="nombre" class="form-control" required />

        <button
                id="btn-registrarme"
                class="btn btn-lg btn-primary btn-block"
                type="Submit"
        >
            ¡ A JUGAR !
        </button>

    </form>
</main>
<!-- Boostrap core js -->
<script
        type="text/javascript"
        th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"
></script>

</body>
</html>