<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CatSino Senku</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/imgStatic/logo.png}" />
    <!-- Custom Styles -->
    <link rel="stylesheet" th:href="@{/css/senku.css}" />
    <link rel="stylesheet" th:href="@{/css/abandonarPartida.css}" />
    <link rel="icon" type="image/x-icon" th:href="@{/imgStatic/logo.png}" />

    <!-- Fonts and Icons -->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200}" />
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- JavaScript Local-->
    <script type="module" th:src="@{/js/cronometro.js}"></script>
    <script th:src="@{/js/customModal.js}"></script>
    <script type="module" th:src="@{/js/senku.js}"></script>
    <script th:src="@{/js/musica.js}"></script>

</head>

<body>
<div class="nav-bar">
    <div class="nav-left">
        <a href="javascript:void(0)" id="openCustomExitModal">
            <span class="material-symbols-outlined icono">arrow_back</span>
        </a>
    </div>
   
    
    <div class="nav-right">
        <div class="nombre-jugador">
            Jugador: <span th:text="${nombreJugador}"></span>
        </div>
        <div class="boton-musica">
            <i id="toggleMusica" class="fas fa-music" onclick="togglePlaylist()"></i>
        </div>
        <!-- Contenedor de la playlist -->
        <div class="playlist-container" th:classappend="${playlistVisible} ? '' : 'hidden'">
            <iframe id="playlist" style="border-radius:12px" th:src="@{https://open.spotify.com/embed/playlist/62emNerb9lRrq16i4NGT91?utm_source=generator&theme=0}" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>

        <a href="javascript:void(0)" class="boton-ayuda" onclick="abrirModalAyuda()">
            <i class="fas fa-question-circle"></i>
        </a>

    </div>
</div>



<main>
    <div class="titulo">
        <!-- Mensaje Actualizacion Movimientos -->
        <p style="margin-bottom:0;"><span class="galactic-title" th:text="${mensaje}"></span></p>
        <p style="margin-bottom:0;" class="highlight" th:text="${mensaje2}"></p>
    </div>

    <div class="info-container">
        <div class="info-box">
            <i class="fa fa-clock"></i>
            <p class="tiempo">
                Tiempo transcurrido: <span class="reloj">00:00:00</span>
            </p>
        </div>
        <div class="info-box">
            <i class="fa fa-circle"></i>
            <p>Contador Movimientos : <span class="mov" th:text="${contadorMovimientos}">00</span></p>
        </div>
    </div>

    <!-- Modal de ayuda -->
    <div id="modalAyuda" class="modal-ayuda">
        <div class="modal-contenidoAyuda">
            <div class="modal-headerSenku">
                <h2>&iquest;C&oacute;MO JUGAR?</h2>
                <span class="cerrar-modal" onclick="cerrarModalAyuda()">&times;</span>
            </div>
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide text-center" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <video class="d-block mx-auto" autoplay loop muted controls>
                                <source th:src="@{/imgStatic/senkuTuto/objetivoSenku.mp4}" type="video/mp4">
                                Tu navegador no soporta el elemento de video.
                            </video>
                        </div>
                        <div class="carousel-item">
                            <video class="d-block mx-auto" autoplay loop muted controls>
                                <source th:src="@{/imgStatic/senkuTuto/reglasSenku.mp4}" type="video/mp4">
                                Tu navegador no soporta el elemento de video.
                            </video>
                        </div>
                        <div class="carousel-item">
                            <video class="d-block mx-auto" autoplay loop muted controls>
                                <source th:src="@{/imgStatic/senkuTuto/muestraSenku.mp4}" type="video/mp4">
                                Tu navegador no soporta el elemento de video.
                            </video>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
      
    <div class="separacion">
 
      <!-- Mensaje Actualizacion Movimientos -->
     
      <p class="mensaje" ><span class="mensaje" th:text="${mensaje}"></span></p>
            <!-- Tablero -->
         
            <div class="tablero-fondo">
                <div class="tablero"></div>
            </div>
            <!-- Reiniciar -->
            <div >
                <form th:action="@{/reiniciar}" method="post" class="botones">
                    <button type="submit" class="boton-reiniciar">reiniciar</button>
                </form>

            </div>
       
      
          
            <div class="partidas">
                <p class="titulin">Tu historial de partidas</p>
                <div th:each="partida, iterStat : ${partidas}" th:limit="2">
                    <p>Partida ganada: <span th:text="${partida.ganado ? 'Sí' : 'No'}"></span></p>
                    <p>Cantidad de movimientos: <span th:text="${partida.cantidadMovimientos}"></span></p>
                    <p>Fecha y hora: <span th:text="${partida.fechaYhora}"></span></p>
                    <hr th:if="${!iterStat.last}"> 
                </div>
                <p th:if="${#lists.isEmpty(partidas)}" class="no-partidas">Aún no hay partidas registradas.</p>
            </div>
            
        </div>
            <!-- Modal de Confirmaci&oacute;n -->
            <div id="customExitModal" class="modal-custom">
                <div class="modal-content-custom">
                    <div class="modal-header-custom">
                        <h5>Confirmar Abandono</h5>
                        <span class="close-custom" id="closeCustomExitModal">&times;</span>
                    </div>
                    <div class="modal-body-custom">
                        &iquest;Est&aacute;s seguro de que deseas abandonar la partida?
                    </div>
                    <div class="modal-footer-custom">
                        <button id="customCancelButton" class="boton-cancelar-custom">Cancelar</button>
                        <a th:href="@{/irAlSenku}" class="boton-abandonar-custom">Abandonar</a>
                    </div>
                </div>
            </div>



            <!-- O GANO O NO QUEDAN MOV -->
            <div id="modalSenkuFinish" class="modalSenku w3-animate-top" >
                <div class="modal-contentSenku">
                    <h3>¡FINISH!</h3>
                    <p>¡Felicidades, <span th:text="${nombreJugador}"></span>!</p>
                    <p id="mensajeMovimientos">No hay movimientos v&aacute;lidos disponibles.</p>
                    <form th:action="@{/senkuFinalizarPartida}" method="post">
                        <button type="submit">Volver al inicio</button>
                    </form>
                
                </div>
            </div>
        </main>

<img th:src="@{/imgStatic/mensajeSenku.png}" class="gatoSenku" alt="imagen-bienvenida" />


<script>

    $(document).ready(function () {
        $('.carousel').carousel();
    });

    function abrirModalAyuda() {
        $('#modalAyuda').show();
    }

    function cerrarModalAyuda() {
        $('#modalAyuda').hide();
    }

    $('#closeCustomExitModal').click(function() {
        $('#customExitModal').hide();
    });

    $('#customCancelButton').click(function() {
        $('#customExitModal').hide();
    });
</script>




</body>

</html>