<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CatSino Senku</title>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/senku.css}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/senku.js}"></script>

</head>

<body>

    <main>
        <div class="titulo">
        <h1>SENKU</h1>
        <p>Contador Movimientos :</p>
         </div>
<div class="tablero-fondo">
    <div class="tablero"></div>
</div>
        
        <nav class=" w3-bar w3-black  w3-center">
            <form class="form-inline">
                <button class="w3-bar-item w3-button" type="button">REGLAS</button>
                <button class="w3-bar-item w3-button" type="button">REINICIAR</button>
                <button class="w3-bar-item w3-button" type="button">VOLVER</button>
            </form>
        </nav>
    </main>

</body>

</html>